@import '../../main.css';
.circle {
  border: 1px solid var(--main-gray);
  border-radius: 50%;
  height: 40px;
  position: relative;
  width: 40px;
}

.circle p {
  line-height: 40px;
  text-align: center;
}
