:root {
  --main-dark: #3C3C3C;
  --main-white: #FEFEFE;
  --main-orange: rgb(227, 150, 105);
  --main-gray: #969696;
  --border-gray: rgba(0,0,0,.15);
  --app-radius: 2px;
  --main-font: sans-serif;
  --main-display-font: serif;
  --main-cursive-font: cursive;
  --vspace: 10px;
  --hspace: 10px;
  --header-height: 75px;
}
